/* GENERAL STYLING */
/* Setting width of page, margins, background */
body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    background-color: #A4BB83;
}

/* GENERAL TEXT STYLING START */
body {
    font-family: 'Roboto', sans-serif;
}
/* Header */
h1 {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 40px 0; /*getting rid of space between h1 and h2*/
}

a {
    font-weight: 400;
    font-size: 16px;
}


/* body */
p {
    font-weight: 400;
    font-size: 12px;
}
/* GENERAL TEXT STYLING END */


/* NAVIGATION STYLING START */

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

li a:hover {
    color: #374525;
}

/* NAVIGATION STYLING END */


/* MAIN SECTION START */
/* Ensuring text and image are displayed one another through the use of flex */
main {
    text-align: justify;
    clear: both;
    display: flex;
    display: -webkit-flex; /*Safari*/
    flex-direction: row;
    justify-content: flex-start;
}

/*setting padding for content*/
#content {
    padding-right: 20px;
    padding-left: 20px;
}

/* Image sizing */
#blogimage {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 18px;
    float: right;
    width: 200px;
}


/* MAIN SECTION END */








/*  */