/* GENERAL STYLING */
/* Setting width of page, margins, background */
body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #A4BB83;
}

/* Setting colour and padding for header */
header {
    background-color: #74914D;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* GENERAL TEXT STYLING START */
body {
    font-family: 'Roboto', sans-serif;
}
/* Header */
h1 {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 0 0; /*getting rid of space between h1 and h2*/
}

/* Main */
a {
    font-weight: 400;
    font-size: 14px;
}

p, h3, h4 {
    font-weight: 400;
    font-size: 12px;
}
/* GENERAL TEXT STYLING END */


/* NAVIGATION STYLING START */
/* Removing bullet points */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float all menu items to the left */
nav>ul>li {
    float: left;
}

/* Centre text, add padding, remove underline */
nav>ul>li a {
    display: block;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

/* Change the colour when hovering over link */
li a:hover {
    color: #374525;
}

/* NAVIGATION STYLING END */


/* MAIN SECTION START */
/* Ensuring text and image are displayed one another through the use of flex */
main {
    text-align: justify;
    clear: both;
    display: flex;
    display: -webkit-flex; /*Safari*/
    flex-direction: row;
    justify-content: flex-start;
}

/*setting padding for content*/
#content {
    padding-right: 20px;
    padding-left: 20px;
    width: 60%;
}

/* Image sizing */
#blogimage {
    padding-right: 10px;
    padding-left: 10px;
    width: 200px;
}

/* MAIN SECTION END */



/* FORM DISPLAY START */
/*  */
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 120px;
    text-align: left;
}

input, textarea, select, option {
    display: inline-block;
    float: left;
    width: 200px;
}

#submit{
    width: 100px;
    float: right;
}

/* FORM DISPLAY END */


/*BLOG DISPLAY START*/
#showblog{
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#showblog h3 {
    font-weight: bold;
}
/*BLOG DISPLAY END*/


/* FOOTER STYLING*/
/* Setting colour and padding for footer */
footer {
    background-color: #74914D;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}